/* Fondo */
html, body {
  background: url("../images/background-star-wars.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: "Numans", sans-serif;
  height: 100%;
  margin: 0px;
}

/* Cabecera */
.header__img {
  width: 260px;
  margin-left: 25px;
  margin-top: 10px;
}

.img-fluid {
  height: 300px !important;
}

h3 {
  font-family: 'Days One';
  color: #007bff;
  font-style: normal;
  font-variant: normal;
  font-weight: 500 !important;
  line-height: 46.4px !important;
  font-size: 30px !important;
}
.card-body {
  background-color: #343a40;
  color: #fff;
}

.youtube-player {
  margin-top: 55px;
}

.comments {
  background-color: #eef2f5;
  width: 400px;
  margin-bottom: 55px;
}

.addtxt {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 13px;
  width: 350px;
  background-color: #e5e8ed;
  font-weight: 500
}

.form-control :focus {
  color: #000
}

.second {
  width: 350px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 10px 10px 5px #aaaaaa
}

.text1 {
  font-size: 13px;
  font-weight: 500;
  color: #56575b
}

.text2 {
  font-size: 13px;
  font-weight: 500;
  margin-left: 6px;
  color: #56575b
}

.text3 {
  font-size: 13px;
  font-weight: 500;
  margin-right: 4px;
  color: #828386
}

.text3o {
  color: #00a5f4
}

.text4 {
  font-size: 13px;
  font-weight: 500;
  color: #828386
}

.text4i {
  color: #00a5f4
}

.text4o {
  color: white
}

.thumbup {
  font-size: 13px;
  font-weight: 500;
  margin-right: 5px
}

.thumbupo {
  color: #17a2b8
}